@import url("/Samim.woff");
@import url("/IranNastaliq.ttf");
/* @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Samim", sans-serif;
}
section {
  position: relative;
  background: #24292d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card {
  position: relative;
  width: 600px;
  height: 630px;
  background: #323840;
  box-shadow: 0 15px 25px rgb(0, 0, 0, 0.025);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card .content,
section .card .imgText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .card .imgText .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}
section .card .imgText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .card .imgText h2 {
  font-family: "IranNastaliq";
  font-weight: 1000;
  font-size: 5em;
  line-height: 1.4em;
  text-align: center;
  color: #ff8d2f;
  transition: 0.5s;
}

section .card .imgText h2:hover {
  color: #2fa1ff;
  text-shadow: 2px 2px #404852;
}

section .card .imgText h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.2em;
  text-align: center;
  color: #2fa1ff;
}

section .card h4 {
  padding: 10px;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
}

section .card .imgText h3 span {
  font-weight: 400;
  color: #fff;
  font-size: 0.75em;
}
section .card .sci {
  display: flex;
  margin-top: 15px;
}
section .card .sci li {
  list-style: none;
}
section .card .sci li a {
  position: relative;
  width: 50px;
  height: 50px;
  background: #404852;
  color: #ff8d2f;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.5s;
}
section .card .sci li a:hover {
  color: #fff;
}
section .card .sci li a .fa {
  position: relative;
  z-index: 1000;
}
section .card .sci li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2fa1ff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
}
section .card .sci li a:hover:before {
  transform: scale(1);
}

.line {
  margin: 15px;
  height: 3px;
  width: 50%;
  background-color: #ff8d2f;
}

section .card .content h3 {
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
  text-align: center;
}

/* .music {
  width: 100%;
} */

audio {
  display: flex;
  margin-top: 15px;
  background: #58626e;
  color: #ff8d2f;
  width: 380px;
  height: 32px;
  transition: 00.5s;
  border-radius: 15px;
}

audio:hover {
  background: #404852;
}

/* section .card .content .music {
  background-color: #fff;
  width: 100%;
  height: 5px;
} */
